@import "../../node_modules/uikit/src/scss/variables-theme.scss";
@import "../../node_modules/uikit/src/scss/uikit-theme.scss";

.App{
    height: 100vh;
}

#graph-svg{
    width: 100%;
    height:900px;
    background-color: #eeefff;
    position: absolute;
    top: 0px;
    bottom: 0px;
    z-index: -1;
}